<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Keep device reach broad. Feature-specific flows must check hardware at runtime. -->
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:resizeable="true" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />



    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5051666473627498~2883468181" />


        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQvcE4AW1KseUVC9_OZtiA4tlOo9sgdk0" />

        <meta-data
            android:name="onesignal_app_id"
            android:value="165df9e6-a0ea-4a37-a40a-110af7e28ad2" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>


        <!-- Launcher Activity -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Yenkasa.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.IntroActivity"/>



        <!-- App Activities -->
        <activity
            android:name=".ui.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity android:name=".ui.MenuActivity"
            android:exported="false"
            android:label="Menu" />
        <activity android:name=".ui.AdminEconomyActivity" />
        <activity android:name=".ui.UserRoleDashboardActivity" />
        <activity android:name=".ui.AnnouncementDetailActivity" />
        <activity
            android:name=".ui.YenkasaUpdateComposerActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.StartLiveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.LiveStreamActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.LiveStreamsActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.WebViewActivity" />
        <activity android:name=".ui.PolicyDisclosureActivity" />
        <activity
            android:name=".ui.CreateAdActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.MyAdsActivity" />
        <activity android:name=".ui.AdsApprovalActivity" />
        <activity android:name=".ui.MyCommunitiesActivity" />
        <activity android:name=".ui.CommunityApprovalActivity" />
        <activity android:name=".ui.PrivacySettingsActivity" />
        <activity android:name=".ui.BlockedUsersActivity" />
        <activity android:name=".ui.WhoBlockedYouActivity" />
        <activity android:name=".ui.CommunityVisibilityActivity" />
        <activity android:name=".ui.BlockedCommunitiesActivity" />
        <activity android:name=".ui.HiddenUsersActivity" />
        <activity android:name=".ui.UserNotificationsActivity" />

        <activity
            android:name=".ui.AppVerificationActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.FollowFeedActivity" />
        <activity
            android:name=".ui.CreateTransactionActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.TransactionReceiptActivity" />
        <activity
            android:name=".ui.CommunitiesActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.CoinWalletActivity" />
        <activity android:name=".ui.PostApprovalActivity" />
        <activity android:name=".ui.PostMediaActivity" />
        <activity android:name=".ui.ProfileImagePreviewActivity" />
        <activity android:name=".ui.UserProfileActivity" />
        <activity
            android:name=".ui.CreateCommunityActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.EditProfileActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.PostPreviewActivity" />
        <activity
            android:name=".ui.PostActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.CommentsActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.RegisterActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.ForgotPasswordActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="www.yenkasa.xyz" android:pathPrefix="/post/" />
                <data android:scheme="https" android:host="www.yenkasa.xyz" android:pathPrefix="/user/" />
                <data android:scheme="https" android:host="www.yenkasa.xyz" android:pathPrefix="/community/" />
                <data android:scheme="https" android:host="www.yenkasa.xyz" android:pathPrefix="/live/" />
                <data android:scheme="https" android:host="yenkasa.xyz" android:pathPrefix="/post/" />
                <data android:scheme="https" android:host="yenkasa.xyz" android:pathPrefix="/user/" />
                <data android:scheme="https" android:host="yenkasa.xyz" android:pathPrefix="/community/" />
                <data android:scheme="https" android:host="yenkasa.xyz" android:pathPrefix="/live/" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ChatActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.ChatMediaPickerActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.ChatMediaPreviewActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.ChatMediaEditorActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.AudioRecActivity" />
        <activity
            android:name=".ui.ContactsActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.ChatRoomsActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.GroupListActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.GroupContactsSelectorActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.GroupSetupActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.GroupChatActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.GroupProfileActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.LocationPreviewActivity" />
        <activity android:name=".ui.FilePreviewActivity" />
        <activity android:name=".ui.AccountInfoActivity" />
        <activity
            android:name=".ui.VerificationActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.VerificationSuccessActivity" />
        <activity
            android:name=".ui.PhoneVerificationActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.ImagePreviewActivity" />
        <activity
            android:name=".ui.IncomingCallActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.UserAgreementActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ResetPasswordActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="www.yenkasa.xyz"
                    android:pathPrefix="/reset-password" />
            </intent-filter>
        </activity>

        <activity
            android:name=".webrtc.VideoCallActivity"
            android:screenOrientation="portrait"
            android:exported="true" />

        <!-- File Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
