<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yenkasachat">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />



    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/yc"
        android:label="YenkasaChat"
        android:roundIcon="@mipmap/yc"
        android:supportsRtl="true"
        android:theme="@style/Theme.YenkasaChat"
        android:networkSecurityConfig="@xml/network_security_config">

        <service
            android:name="com.pusher.pushnotifications.fcm.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQvcE4AW1KseUVC9_OZtiA4tlOo9sgdk0" />
        <meta-data
            android:name="com.onesignal.NotificationServiceExtension"
            android:value="com.example.yenkasachat.notifications.IncomingCallExtenderService" />

        <!-- OneSignal App ID -->
        <meta-data
            android:name="onesignal_app_id"
            android:value="165df9e6-a0ea-4a37-a40a-110af7e28ad2" />


        <!-- Launcher Activity -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.IntroActivity"/>



        <!-- App Activities -->
        <activity android:name=".ui.LoginActivity" />

        <activity android:name=".ui.MenuActivity"
            android:exported="false"
            android:label="Menu" />
        <!-- Make sure this declaration for PostActivity exists -->
        <activity android:name=".ui.AppVerificationActivity" />
        <activity android:name=".ui.FollowFeedActivity" />
        <activity android:name=".ui.FeedActivity" />
        <activity android:name=".ui.CreateTransactionActivity" />
        <activity android:name=".ui.CommunitiesActivity" />
        <activity android:name=".ui.CoinWalletActivity" />
        <activity android:name=".ui.PostDetailActivity" />
        <activity android:name=".ui.PostApprovalActivity" />
        <activity android:name=".ui.ProfileImagePreviewActivity" />
        <activity android:name=".ui.UserProfileActivity" />
        <activity android:name=".ui.CreateCommunityActivity" />
        <activity android:name=".ui.FollowListActivity" />
        <activity android:name=".ui.EditProfileActivity" />
        <activity android:name=".ui.PostPreviewActivity" />
        <activity android:name=".ui.PostActivity" />
        <activity android:name=".ui.CommentsActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.ForgotPasswordActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.ChatActivity" />
        <activity android:name=".ui.AudioRecActivity" />
        <activity android:name=".ui.ContactsActivity" />
        <activity android:name=".ui.ChatRoomsActivity" />
        <activity android:name=".ui.LocationPreviewActivity" />
        <activity android:name=".ui.AccountInfoActivity" />
        <activity android:name=".ui.EmailVerificationActivity" />
        <activity android:name=".ui.PhoneVerificationActivity" />
        <activity android:name=".ui.ImagePreviewActivity" />
        <activity
            android:name=".ui.IncomingCallActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.UserAgreementActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ResetPasswordActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="www.yenkasa.xyz"
                    android:pathPrefix="/reset-password" />
            </intent-filter>
        </activity>

        <!-- Video Call Activity -->
        <activity
            android:name=".webrtc.VideoCallActivity"
            android:screenOrientation="portrait"
            android:exported="true" />

        <!-- File Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
