.DS_Store
.env
.env.*
.git
.gitignore
node_modules
npm-debug.log*
logs
coverage
.nyc_output
uploads
public/uploads
public/blog/images
docs/*.pdf
tmp
*.local
*.log
*.bak
*.zip
*.tar
*.tar.gz
__pycache__
